In [4]:
import pandas as pd
import numpy as np

In [35]:
cols = ["serial", "turn", "milage", "m1", "m2", "m3", "m4"]
df = pd.DataFrame(columns=cols).set_index("serial", "turn")

In [58]:
serials = ["11111", "11222", "12345"]

data = []
end = 0.0
for s in serials:
    for t in range(np.random.randint(6)):
        start = end + np.random.rand() * 1000.
        end = start + np.random.rand() * 1000.
        run_point_count = np.random.randint(high=10, low=5)
        milages = np.linspace(start, end, run_point_count)
        for entry in range(run_point_count):
            d = np.hstack((np.array([s, t]), [milages[entry]], np.random.rand(4)))
            _df = {}
            for i, c in enumerate(cols): 
                _df[c] = d[i]
            data.append(_df)

In [60]:
df_out = df.append(data, ignore_index=True).set_index(["serial", "turn"])

In [62]:
df_out

                         milage                   m1                   m2  \
serial turn
11111  0      834.8072089435756   0.2628515285029899  0.34939334499130004
       0      856.3172706923611   0.3659134343034156   0.2795533477971516
       0      877.8273324411467   0.5155501627622846   0.6084221364248749
       0      899.3373941899323   0.5510219454439707    0.664174710448753
       0      920.8474559387179   0.3387847283838936   0.3598779549159915
...                         ...                  ...                  ...
12345  4     11883.133556194309    0.643975036774249   0.8919789888455685
       4     12000.824686640908   0.7470906490727065    0.743278664078597
       4      12118.51581708751  0.41190521448819384  0.15522622987297874
       4     12236.206947534109   0.4094403004011794  0.22194027614616052
       4      12353.89807798071   0.6611395481288427  0.26475412577898305

                               m3                   m4
serial turn
11111  0       0.4981391405103406  0.20691711198591922
       0       0.9518300805347096  0.14144922749403843
       0       0.4885578064564159   0.9863857792432021
       0       0.8551045920480081   0.7053070123991612
       0     0.014137797027334975   0.7121759885243587
...                           ...                  ...
12345  4       0.8943331097649362   0.8647007191722411
       4       0.6817571906249427   0.5070619508575703
       4      0.30172442044426995   0.3011235825200623
       4      0.11728361623918815   0.3939196026584898
       4      0.23460310581271027   0.8779128765681099

[79 rows x 5 columns]